/** Notices and Errors **/
.message {
	clear: both;
	color: #fff;
	font-size: 90%;
	font-weight: bold;
	margin: 0 0 1em 0;
	padding: 5px;
}
.error-message{
	clear: both;
	color: #fff;
	background: #F5A9BC;    
}
.success {
	clear: both;
	color: #fff;
	background: #9FF781;
}

.notice {
	color: #000;
	display: block;
	font-size: 120%;
	padding: 0.8em;
	margin: 1em 0;
}


