/** Notices and Errors **/
.flash_message{
	clear: both;
    display:block;
    padding:2px 0 2px 1em;
    box-shadow:2px 2px 3px rgba(0,0,0,.3);
    margin: 0 0 1em 0;
}
.message {
	font-size: 90%;
	font-weight: bold;
	margin: 0 0 1em 0;
	padding: 5px;
}
.error-message{
    color:#2E1018;
    border:1px solid #2E1018;
    /*Other Browser*/
    background:#F6CED3;
    /*For Old WebKit*/
    background: -webkit-linear-gradient(
        top,
        #FDE9EA 0%,
        #FDBBC2 100%
        );
    /*For Modern Browser*/
    background: linear-gradient(
        to bottom,
        #FDE9EA 0%,
        #FDBBC2 100%
        );
}
.success {
    color:#102E19;
    border:1px solid #102E19;
    /*Other Browser*/
    background:#CEF6D8;
    /*For Old WebKit*/
    background: -webkit-linear-gradient(
        top,
        #E9FCEF 0%,
        #BAFCCE 100%
        );
    /*For Modern Browser*/
    background: linear-gradient(
        to bottom,
        #E9FCEF 0%,
        #BAFCCE 100%
        );
}

.notice {
	color: #000;
	display: block;
	font-size: 120%;
	padding: 0.8em;
	margin: 1em 0;
}


